---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: beta
  install:
    diskSelector:
      model: "Micron_5400*"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ctrl-02
