---
version: v1alpha1
machine:
  ca:
    crt: op://k8s/talos/MACHINE_CA_CRT
  token: op://k8s/talos/MACHINE_TOKEN
  kernel:
    modules:
      - name: dm_thin_pool
      - name: drbd
        parameters:
          - usermode_helper=disabled
      - name: drbd_transport_tcp
      - name: nbd
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    rbac: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=8
        noatime=True
        rsize=1048576
        wsize=1048576
  install:
    image: factory.talos.dev/metal-installer/{{ schematic }}:v1.14.0
    wipe: false
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      serializeImagePulls: false
      shutdownGracePeriod: 90s
      shutdownGracePeriodCriticalPods: 60s
    image: ghcr.io/siderolabs/kubelet:v1.37.0
    nodeIP:
      validSubnets:
        - 192.168.42.0/24
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: main
    topology.kubernetes.io/zone: m
  sysctls:
    fs.inotify.max_user_instances: "8192"       # Watchdog
    fs.inotify.max_user_watches: "1048576"      # Watchdog
    net.core.default_qdisc: fq                  # 10Gb/s | fair-queue for BBR
    net.core.netdev_max_backlog: "50000"        # 10Gb/s | RX queue depth
    net.core.rmem_max: "67108864"               # 10Gb/s | max socket recv buffer
    net.core.somaxconn: "65535"                 # 10Gb/s | listen() backlog
    net.core.wmem_max: "67108864"               # 10Gb/s | max socket send buffer
    net.ipv4.neigh.default.gc_thresh1: "4096"   # ARP/neighbour table (large cluster)
    net.ipv4.neigh.default.gc_thresh2: "8192"   # ARP/neighbour table (large cluster)
    net.ipv4.neigh.default.gc_thresh3: "16384"  # ARP/neighbour table (large cluster)
    net.ipv4.ping_group_range: 0 2147483647     # Ping without root
    net.ipv4.tcp_congestion_control: bbr        # 10Gb/s | BBR
    net.ipv4.tcp_fastopen: "3"                  # Send/accept data in opening SYN
    net.ipv4.tcp_fin_timeout: "15"              # Faster TIME_WAIT teardown
    net.ipv4.tcp_max_syn_backlog: "65535"       # 10Gb/s | SYN backlog
    net.ipv4.tcp_mtu_probing: "1"               # 10Gb/s | jumbo frames / PMTU
    net.ipv4.tcp_notsent_lowat: "131072"        # 10Gb/s | less bufferbloat
    net.ipv4.tcp_rmem: 4096 131072 67108864     # 10Gb/s | TCP recv buffer (max 64M)
    net.ipv4.tcp_slow_start_after_idle: "0"     # 10Gb/s | keep cwnd when idle
    net.ipv4.tcp_tw_reuse: "1"                  # Reuse TIME_WAIT sockets
    net.ipv4.tcp_window_scaling: "1"            # 10Gb/s | large TCP windows
    net.ipv4.tcp_wmem: 4096 16384 67108864      # 10Gb/s | TCP send buffer (max 64M)
    sunrpc.tcp_max_slot_table_entries: "128"    # 10Gb/s | NFS parallelism
    sunrpc.tcp_slot_table_entries: "128"        # 10Gb/s | NFS parallelism
    user.max_user_namespaces: "11255"           # Rootless / user namespaces
cluster:
  id: op://k8s/talos/CLUSTER_ID
  secret: op://k8s/talos/CLUSTER_SECRET
  token: op://k8s/talos/CLUSTER_TOKEN
  secretboxEncryptionSecret: op://k8s/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://k8s/talos/CLUSTER_CA_CRT
  clusterName: main
  controlPlane:
    endpoint: https://k8s.internal:6443
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 10m
