---
customization:
  extraKernelArgs:
    - i915.enable_guc=2
    - module_blacklist=e1000e
    - talos.config.early={{ config_early }}
  systemExtensions:
    officialExtensions:
      - siderolabs/drbd
      - siderolabs/i915
      - siderolabs/intel-ucode
      - siderolabs/mei
